.name{
    color: whitesmoke;
    font-family: "Georgia", sans-serif;
    font-size: 70px;
}

body {
    background-image: url("./background.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: auto;
  }

.whitetext{
    color: whitesmoke;
}

.blacktext{
    color: black;
}

.smallHomeFont{
    font-size: 35px;
}